<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>893104036880-5pbqdhsefmf1pm62vb34u8ifrvkdb3gi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.893104036880-5pbqdhsefmf1pm62vb34u8ifrvkdb3gi</string>
	<key>API_KEY</key>
	<string>AIzaSyA86lJIm7oeq2uWwQbmol3nh9ZrmUlRiOc</string>
	<key>GCM_SENDER_ID</key>
	<string>893104036880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arkgames.eternalsattack</string>
	<key>PROJECT_ID</key>
	<string>eternal-s-attack</string>
	<key>STORAGE_BUCKET</key>
	<string>eternal-s-attack.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:893104036880:ios:28819e3f217ec4fdb6be95</string>
</dict>
</plist>